.login-form-card {
  padding: 0;
  border: 1px solid gray;
  .mat-card-header {
    background-color: rgb(51, 170, 51);
    border: 1px solid black;
    min-height: 36px;
    .title {
      margin: auto;
      color: #fff;
    }
  }
  mat-card-content {
    padding: 24px;

    .full-width {
      width: 100%;
    }
  }

  mat-card-actions {
    padding: 24px;
  }
}
